<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127492590607-niiqck0heu13jebiirrdg1e0h3jr1hrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127492590607-niiqck0heu13jebiirrdg1e0h3jr1hrb</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Bko-4hDn1u9bMVGD_uCP_jqm0L1KpZc</string>
	<key>GCM_SENDER_ID</key>
	<string>127492590607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pantry</string>
	<key>PROJECT_ID</key>
	<string>capstone-pantry</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-pantry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127492590607:ios:aec4e4fc6856939c75e77a</string>
	<key>DATABASE_URL</key>
	<string>https://capstone-pantry.firebaseio.com</string>
</dict>
</plist>